@font-face {
    font-family: 'M PLUS 1p';
    src: local('M PLUS 1p'),
        url('../fonts/MPLUS1p-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'M PLUS 1p';
    src: local('M PLUS 1p'),
        url('../fonts/MPLUS1p-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0 none;
    clip-path: inset(100%);
}

body {
    margin: 0 auto;
    width: 1366px;

    font-family: "M PLUS 1p", "Arial", sans-serif;;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #001524;

    background-color: #F7F7F7;
}

main {
    padding: 98px;
}

.main__gallery {
    margin: 0;
}